@import 'palette';
@font-face {
    font-family: "Minion Pro";
    src: url("../fonts/minion-pro/MinionPro.otf");
}
*{
    font-family: Helvetica, Arial, sans-serif;
}
body{
    min-width:350px;
    background: $color1;
}

.navbar{
    .navbar-brand {
        color : $color5;
        transform : scale(1.5);
    }
}
main{
    background:$color1;
}
.nav-link:hover{
    color : $color5 !important;
}
.active{ 
    .nav-link{
        color : $color5 !important;
    }
}
#brassName {
    height:0;
    width:11.1em;
}
#resto-name{
    position : relative;
    top : 150px;
    left : 1em;
    text-align: center;
    background: white;
    color : $color5 !important;
    width:11.2em !important;
    padding : 0 0.2em;
    font-family: 'Minion Pro';
    font-size:3em;
    border: 2px solid $color3;
    color : $color1;
}
.jumbotron {
    background: url('../img/hop-vines-409870_1920.jpg') no-repeat center center; 
    background-size: 100%  auto;
    height: 180px;
    margin-bottom:0;
}
h1,h2,h3,h4{
    font-family: 'Minion Pro';
    @media only screen and(max-width:768px){
        font-size:2em !important;
    }
}
h2{
    font-size:2rem;
}
p{
    text-align: justify;
}
.fab{
    cursor: pointer;
    background:$color2;
    padding : 1rem;
    border-radius: 50%;
    width:3rem;
    &:hover{
        transform:scale(1.1)
    }
}
#mainCont{
    padding-bottom: 0px;
    padding-top:3em;
    background: white;
}
.page-footer{
    position:static;
    bottom:0;
    padding:0 !important;
    .container{
        background:white;
        padding-bottom:10px;
    }
}
ul{
    margin-bottom : 0;
    padding-left : 0;
}
li{
    list-style: none;
}
.menu{
    text-align: center;
    .title{
        margin-top:2em;
        margin-bottom :1em;
        text-decoration: underline;
    }
}