/* Coolors Exported Palette - coolors.co/daddd8-c7d59f-697a21-638d09-6b0f1a */

/* HSL */
$color1: hsla(96%, 7%, 86%, 1);
$color2: hsla(76%, 39%, 73%, 1);
$color3: hsla(71%, 57%, 30%, 1);
$color4: hsla(79%, 88%, 29%, 1);
$color5: hsla(353%, 75%, 24%, 1);

/* RGB */
$color1: rgba(218, 221, 216, 1);
$color2: rgba(199, 213, 159, 1);
$color3: rgba(105, 122, 33, 1);
$color4: rgba(99, 141, 9, 1);
$color5: rgba(107, 15, 26, 1);