@import 'palette';
@font-face {
    font-family: "Minion Pro";
    src: url("../fonts/minion-pro/MinionPro.otf");
}
// General rules  --  Aplied to multiple parts of the document
*{
    font-family: Helvetica, Arial, sans-serif;
}
html{
    height:100%;
    body{
        min-width:350px;
        background: $color1;
        height: 100%;
        main{
            background:$color1;
        }
    }
}
h1,h2,h3,h4{
    font-family: 'Minion Pro';
    @media only screen and(max-width:768px){
        font-size:2em !important;
    }
}
h2{
    font-size:2rem;
}
p{
    text-align: justify;
}
.underlined{
    text-decoration: underline;
    margin-bottom : 0.5em;
}
// Navbar styling
.navbar{
    .navbar-brand {
        color : $color5;
        transform : scale(1.5);
    }
}
.active{ 
    .nav-link{
        color : $color5 !important;
    }
}
.nav-link:hover{
    color : $color5 !important;
}
// Banner and restaurant name
#brassName {
    height:0;
    width:11.1em;
    #resto-name{
        position : relative;
        top : 150px;
        left : 1em;
        text-align: center;
        background: white;
        color : $color5 !important;
        width:11.2em !important;
        padding : 0 0.2em;
        font-family: 'Minion Pro';
        font-size:3em;
        border: 2px solid $color3;
        color : $color1;
    }
}
.jumbotron {
    background: url('../img/hop-vines-409870_1920.jpg') no-repeat center center; 
    background-size: 100%  auto;
    height: 180px;
    margin-bottom:0;
}
// Main Content
#mainCont{
    padding-bottom: 2em;
    padding-top:3em;
    background: white;
    // Menu page
    .menu{
        text-align: center;
        .title{
            margin-top:1em;
            margin-bottom :1em;
            text-decoration: underline;
        }
        .content{
            ul{
                margin-bottom : 0;
                padding-left : 0;
                li{
                    color : $color4;
                    list-style: none;
                }
            }
        }
    }
}
// Gallery
.gallery-container{
    .tz-gallery{
        padding-top:40px;
        .lightbox{
            img{
                width: 100%;
                margin-bottom: 30px;
                transition: 0.2s ease-in-out;
                box-shadow: 0 2px 3px rgba(0,0,0,0.2);
                &:hover{
                    transform: scale(1.05);
                    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
                }
            }
        }
        .img{
            border-radius: 4px;
        }
        .photos{
            object-fit: cover;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
    }
    @media only screen and (max-width:768px){
        border-radius:0;
    }
}
// Restaurants
#rest{
    h4{
        font-size:1.5em;
        text-align: center;
        color: $color4;
    }
    ul{
        padding-left:0;
        margin-left:0;
        border: 1px solid $color2;
        li{
            list-style: none;
            text-align: center;
            padding:none;
        }
    }
    p{
        text-align: center;
    }
}
.horaire{
    border: 1px solid $color2;
    padding: 0.2em;
    text-align: justify;
}
// Map
.map{
    background-color: green;
    width : 100%;
    height : 296px;
    overflow:hidden;
}
iframe{
    width : 100%;
    height : 300px;
    overflow:hidden;
}
// Contact
.form-control::placeholder{
    color:$color2;
    opacity:1;
}
.btn{
    border-color: $color4;
    color: $color4;
}
// Footer
.page-footer{
    position:static;
    width: 100%;
    height:65px;
    bottom:0;
    left:0;
    background:white;
}
.fab{
    cursor: pointer;
    background:$color2;
    padding : 1rem;
    border-radius: 50%;
    width:3rem;
    &:hover{
        transform:scale(1.1)
    }
}